* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: arial;
}

body {
  background: #404040;
  background-image: url(../images/HD-wallpapers.jpg);
  background-size: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: arial;
  color: #fff;
}

h1 {
  margin-top: 10px;
  text-align: center;
  color: white;
}

h2 {
  color: white;
}

p,a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

#overlay {
  margin: 50px auto;
  width: 980px;
  height: 650px;
  background-color: rgba(0,0,0,0.8);
  border-radius: 25px;
  display: inline-block;
}

.block1 {
  margin: 50px auto;
  width: 500px;
  height: 500px;
  float: left;
  display: block;
}

.block2 {
  width: 400px;
  float: left;
  margin-left: 50px;
}


/* Description */

.desc {
  margin: 10px auto;
  text-align: justify;
  display: inline;
  list-style: none;
}

li {
  list-style: none;
}

/*=====Social Navigasi========*/

.social-nav {
  padding: 0;
  list-style: none;
  display: inline-block;
  margin: 10px auto;
}
.social-nav li {
  display: inline-block;
}
.social-nav a {
  display: inline-block;
  float: left;
  width: 48px;
  height: 48px;
  font-size: 20px;
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  line-height: 48px;
  background: #000;
  position: relative;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* social media */

.model-6 li {
  float: left;
}
.model-6 a:hover {
  background: #fff;
}
.model-6 .twitter {
  background: #00ACED;
}
.model-6 .twitter:hover {
  color: #00ACED;
}
.model-6 .facebook {
  background: #3B579D;
}
.model-6 .facebook:hover {
  color: #3B579D;
}
.model-6 .google-plus {
  background: #DD4A3A;
}
.model-6 .google-plus:hover {
  color: #DD4A3A;
}

.block1 img {
  top: 50px;
  border: 5px solid;
  border-radius: 200px;
  background-color: rgba(0,0,0,0.9);
  background: #fff;
}

/* style untuk PAGINATION */

.pagination {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin-top: 10px;
}
.pagination li {
  display: inline;
  text-align: center;
}
.pagination a {
  float: left;
  display: block;
  font-size: 14px;
  text-decoration: none;
  padding: 5px 12px;
  color: #fff;
  margin-left: -1px;
  border: 1px solid transparent;
  line-height: 1.5;
}
.pagination a.active {
  cursor: default;
}
.pagination a:active {
  outline: none;
}

.modal-4 a {
  margin: 0 5px;
  padding: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-color: #F7C12C;
}
.modal-4 a.prev {
  -moz-border-radius: 50px 0 0 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px 0 0 50px;
  width: 100px;
}
.modal-4 a.next {
  -moz-border-radius: 0 50px 50px 0;
  -webkit-border-radius: 0;
  border-radius: 0 50px 50px 0;
  width: 100px;
}
.modal-4 a:hover {
  background-color: #FFA500;
}